
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoşgeldin</span>
    <span class="mx-lg-4 mx-md-2  mx-1">
<<<<<<< HEAD
        <a href="/Login/Index/">
=======
        <a href="login.html">
>>>>>>> e726a4710b88cb61c8f1ae12c82d6fdaa32a8bb5
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
<<<<<<< HEAD
        <a href="/Register/Index/">
=======
        <a href="register.html">
>>>>>>> e726a4710b88cb61c8f1ae12c82d6fdaa32a8bb5
            <i class="far fa-user"></i> Kayıt Ol
        </a>
    </span>
</div>