
@using EntityLayer.Concrete
@model List<Writer>


<div class="row bg-danger">
    <div class="col-12 grid-margin stretch-card mt-4" >
        <div class="card">
            <div class="card-body">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                        <i class="mdi mdi-account-check"></i>
                    </span> Yazar Hakkında
                </h3>

                <div class="d-flex mt-3 align-items-top">
                    @foreach (var item in Model)
                    {


                        <img src=@item.WriterImage class="img-sm rounded-circle mr-3" alt="image">
                        <div class="mb-0 flex-grow">
                            <h5 class="mr-2 mb-2">@item.WriterName - @item.WriterMail   </h5>
                            <p class="mb-0 font-weight-light"> @item.WriterAbout    </p>
                        </div>
                        <div class="ml-auto">
                            <i class="mdi mdi-heart-outline text-muted"></i>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>





